@charset "UTF-8";
body {
  height: 1000px;
  font-weight: 900;
}

header.jumbotron {
  margin-button: 0px;
  text-align: center;
  background-image: url(https://www.elle.com.hk/var/ellehk/storage/images/celebrity/feature/g.e.m.-boyfriend/25066513-1-chi-HK/G.E.M._img_885_590.png);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  font-family: 微軟正黑體;
  color: black;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 500px;
  border: solid 2px #D8BFD8;
}
header.jumbotron h2 {
  font-family: 微軟正黑體;
  color: rgba(0, 0, 0, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #D8BFD8;
}
section#section_ask .container {
  font-family: 微軟正黑體;
  color: #470024;
  padding-bottom: 10px;
  text-align: center;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/G.E.M._Laughing.jpg/800px-G.E.M._Laughing.jpg);
  height: 800px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  font-family: 微軟正黑體;
  color: black;
  margin-top: 30px;
  padding: 0px 60px;
  text-align: center;
}
section#section_ask h3 {
  font-family: 微軟正黑體;
  color: black;
  margin-top: 30px;
}
section#section_ask .col-sm-3.img {
  background-image: url(https://upload.wikimedia.org/wikipedia/zh/0/08/GEM_Xposed_CD.jpg);
  height: 300px;
  background-size: cover;
  mix-blend-mode: normal;
  margin-left: 200px;
  margin-top: 50px;
}

section {
  padding: 50px 0px;
}

section#section_about {
  background-color: white;
}
section#section_about .container {
  font-family: 微軟正黑體;
  color: #470024;
  padding-bottom: 10px;
  text-align: center;
}
section#section_about .col-sm-4 {
  font-family: 微軟正黑體;
  text-align: center;
  color: black;
  margin-top: 20px;
}
section#section_about .col-sm-9.img {
  background-image: url(https://i.kfs.io/album/global/43848832,1v1/fit/500x500.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  mix-blend-mode: normal;
  margin-top: 50px;
  margin-left: 30px;
}
section#section_about .col-sm-10.img {
  background-image: url(https://i.kfs.io/album/global/43149345,0v1/fit/500x500.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  mix-blend-mode: normal;
  margin-top: 50px;
  margin-left: 30px;
}
section#section_about .col-sm-11.img {
  background-image: url(https://i.kfs.io/album/global/27486417,0v1/fit/500x500.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  mix-blend-mode: normal;
  margin-top: 50px;
  margin-left: 30px;
}

section {
  padding: 50px 0px;
}

section#section_video {
  background-color: #D8BFD8;
}
section#section_video .container {
  font-family: 微軟正黑體;
  color: #470024;
  padding-bottom: 10px;
  text-align: center;
}
