nav.navbar.navbar-default.navar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href="#") G.E.M
  .nav.navbar-nav.navbar-right
   li
      a(href="#section_ask") 介紹 INTRO
   li
       a(href="#section_about") 專輯 ALBUM
   li
       a(href="#section_video") 歌曲 SONG
   li
        a(href="https://zh-tw.facebook.com/G.E.M.OfficialPage/" target="_blank") Facebook
  
header.jumbotron
 .container
  h1 G.E.M 鄧紫棋
  hr
  h2 創作歌手
section#section_ask
  .container
    h1 INTRO
    .row
      .col-sm-5.img
      .col-sm-7
        h2 G.E.M 鄧紫棋
        h3 鄧紫棋，又名G.E.M.（「Get Everybody Moving」即「讓大家動起來」；而GEM也有「珍寶」之意），本名鄧詩穎，出生於中華人民共和國上海，四歲時移居英屬香港，是一名著名創作歌手。 2008年7月10日，以16歲之齡出道，取得香港各大樂壇頒獎新人獎。2012年，發行專輯《Xposed》並奪得香港IFPI成為全年最高銷量香港女歌手。
      .col-sm-3.img
section#section_about
  .container
   h1 ALBUM
    .row
      .col-sm-4
       h2 睡皇后
       .col-sm-9.img
      .col-sm-4
       h2 回憶的沙漏
       .col-sm-10.img
      .col-sm-4
       h2 愛你 A.I.N.Y.
       .col-sm-11.img
section#section_video
 .container
  .row
   .col-sm-12
      h1 熱門歌曲SONG
      hr
   .col-sm-12
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/T4SimnaiktU', allowfullscreen='')

